.imagesPc {
    display: none;
}

.faq {
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faqwrapper {
    background: white;
    border-radius: 25px;
    margin: 150px 0px 150px 0px;
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .images {
        width: 95%;
        position: relative;
        .imagesMobile {
            .patternMobile {
                position: absolute;
                top: 0;
                left: 50%;
                transform: scale(0.90) translate(-53%, 10%);
                width: 100%;
                max-width: 266px;
            }
            
            .womanMobile {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-53%, -50%);
                max-width: 266px;
                width: 100%;
            }
        }
    }

    .text {
        padding: 150px 25px 80px 25px;
        width: 100%;
        height: 550px;
        h1 {
            font-size: 35px;
            padding-bottom: 20px;
        }

        .faqOption {
            border-bottom: 1px solid hsl(240, 5%, 91%);
            .option {
                padding: 15px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                user-select: none;  

                h2 {
                    font-size: 12px;
                    color: hsl(238, 29%, 16%);
                    font-weight: 400;
                }
                .bold {
                    font-weight: 700;
                }
                img {
                    width: 15px;
                    height: 10px;
                    pointer-events: none;
                    transition: all 0.15s ease-in-out;
                }
                .rotate {
                    transform: rotateZ(90deg);
                }
            }
        }

        h1 {
            text-align: center;
        }

        p {
            animation: fadeIn 0.35s forwards alternate ease-in-out;
            width: 90%;
            padding-bottom: 15px;
            color:hsl(240, 6%, 50%);
            font-size: 12px;
        }
    }
}

.hide {
    display: none;
}

@media(min-width: 1024px)
{
    .images {
        .imagesMobile {
            display: none;
        }
        .imagesPc {
            height: 550px;
            display: block;
            position: relative;

            .overflow {
                height: 100%;
                overflow: hidden;
                position: relative;
                .patternPc {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-81%,-60%);
                }
            }

            .illustPc {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-160%,-45%);
                z-index: 1;
            }
            .womanPc {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-56%,-50%);
            }
        }
    }

    .faqwrapper 
    {
        flex-direction: row;
        max-width: 960px;

        .text {
            padding: 75px 100px 100px 100px;
            h1 {
                padding-bottom: 30px;
                text-align: left;
            }
            .faqOption {
            .option {
                padding: 20px 0px;
                &:hover {
                    h2 {
                        color: orange;
                    }
                }
                h2 {
                    font-size: 12px;
                    color: hsl(238, 29%, 16%);
                    font-weight: 400;
                }
                .bold {
                    font-weight: 700;
                }
                img {
                    width: 15px;
                    height: 10px;
                }
            }
            }
        }
    }
}